{{ $ := .root }}
{{ $page := .page }}

<div class="row featurette">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

  {{ range $page.Params.feature }}
  {{ $pack := or .icon_pack "fas" }}
  {{ $pack_prefix := $pack }}
  {{ if in (slice "fab" "fas" "far" "fal") $pack }}
    {{ $pack_prefix = "fa" }}
  {{ end }}
  <div class="col-12 col-sm-4">
    <div class="card">
      {{ with .img }}
        <img src="/media/{{ . }}" class="card-img-top">
      {{ end }}
      <div class="card-body" style="height: 8rem;">

          <h3 class="card-title">{{ .name | markdownify | emojify }}</h3>

        {{ with .description }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
         <a href="{{ .url }}" target=”_blank” class="stretched-link"></a>
      </div>
    </div>
  </div>
  {{ end }}
</div>
