// Override this file to add your own SCSS styling.
.jumbo-title {
  font-size: 5rem;
  font-weight: 500;
}
.jumbo-subtitle {
  font-size: 2rem;
  font-weight: 200;
}

.dark .btn-primary {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
}

.btn-primary:hover{
  background-color: #ffffff;
  color: #63aaff;

}
